.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.input {
    border: none;
    border-radius: 2px;
    background-color: #efefef;
    font-size: 16px;
    height: 20px;
}

.button {
    background-color: #1B9CFC;
    color: #efefef;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #57606f;
    height: 40px;
    margin-left: 5px;
}

.button:hover {
    background-color: #f9ca24;
}

@media (max-width: 780px) {
    .searchForm{
        margin-left: 0;
    }

    .input {
        font-size: 0.5rem;
        height: 3vh;
    }

    .button {
        font-size: 1rem;
        height: 4vh;
    }
}