.filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter {
    margin-right: 12px;
    font-weight: bold;
    color: black;
}

.select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    color: black;
    width: 150px;
    cursor: pointer;
}

.option {
    background-color: #fff;
    color: black;
    width: 150px;
    cursor: pointer;
}

.typeFilter{
    width: 150px;
}

.originFilter {
    width: 150px;
}

.orderFilter {
    width: 150px;
}

.attackFilter {
    width: 150px;
}

.refresh{
    cursor: pointer;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    color: #f9ca24;
}

.refresh:hover{
    color: #fff;
    background-color: #f9ca24;
    border-radius: 0.3rem;
}

@media (max-width: 780px) {
    .filterContainer {
        display: grid;
        justify-content: flex-start;
        align-items: flex-start;
        grid-template-columns: 1fr;
    }

    .filter {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0;
    }

    .refresh{
        margin-bottom: 0.5rem;
    }
}